<article class="post-full {{post_class}}">
  {{#if feature_image}}
    <img class='large_image' src="{{img_url feature_image}}" />
  {{/if}}
  
  <section class="post-full-content">
    <h1>{{title}}</h1>
    {{content}}
  </section>
</article>
