/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";

body {
  background-color: var(--lightgrey);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--darkgrey);
}

a h1 {
  color: var(--blue);
}

.post-feed {
  background: var(--whitegrey);
  display: grid;
  margin: 0 auto;
  max-width: 160rem;
  min-height: 100vh;
}

.post_preview.post,
.blog_info {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column-reverse nowrap;
  transition: opacity 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}

.post_preview.post:hover {
  cursor: pointer;
  opacity: 0.5;
}

.post_preview.post a {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.post_preview.post a p,
.post_preview.post a h1 {
  padding: 0 2rem 0 2rem;
}

.post_preview.post a h1 {
  margin-bottom: 0.5rem;
}

.post_preview.post a p {
  color: var(--darkgrey);
  text-decoration: none;
}

.post_preview.post a:hover {
  text-decoration: none;
}

.blog_info {
  padding: 0 2rem;
}

.post_link {
  align-self: stretch;
  flex: 1 1 auto;
  justify-self: stretch;
}

@media screen and (min-width:0) {
  .post-feed {
    grid-auto-rows: 25rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:800px) {
  .post-feed {
    grid-auto-rows: 45rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:1600px) {
  .post-feed {
    grid-template-columns: repeat(3, 1fr);
  }
}
